.breadcrumbs {
  &__list {
    display: flex;
    column-gap: rem(10);
  }

  &__item {
    position: relative;
    padding-right: rem(15);

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: em(7);
      display: none;
      width: rem(10);
      height: rem(10);
      background-image: url("../img/svg/black-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:not(:last-child) {
      &::before {
        display: block;
      }
    }

    &.active {
      color: var(--text-secondary);
      pointer-events: none;
    }
  }

  &__link {
    font-size: rem(16);
  }
}
