.contact-section {
  // contact section item styling
  &__item {
    @include adaptiveValue(column-gap, 95, 0, 1920, 992, 1);

    display: grid;
    align-items: start;
    grid-template-columns: repeat(12, 1fr);
    border-radius: var(--radius-primary);
    padding: rem(80) rem(20);
    min-height: rem(401);
    background-color: var(--primary-light);

    @media screen and (max-width: $lg) {
      min-height: rem(301);
    }

    @media screen and (max-width: $md) {
      @include adaptiveValue(padding-top, 54, 25, 992, 360, 1);
      @include adaptiveValue(padding-bottom, 54, 25, 992, 360, 1);
      @include adaptiveValue(padding-right, 54, 15, 992, 360, 1);
      @include adaptiveValue(padding-left, 54, 15, 992, 360, 1);

      grid-template-columns: 1fr;
      row-gap: rem(24);
    }
  }

  // info styling
  &__info {
    display: grid;
    align-self: center;
    grid-column: 2/7;
    max-width: rem(460);

    h2 {
      @include adaptiveValue(font-size, 50, 27, 1920, 360, 1);

      font-weight: 900;
      word-break: break-word;
      text-transform: uppercase;
    }

    p {
      @include adaptiveValue(font-size, 18, 14, 1920, 360, 1);

      max-width: rem(420);
    }

    @media screen and (max-width: $md) {
      justify-items: center;
      justify-self: center;
      width: 100%;
    }

    @media screen and (max-width: $md) {
      grid-column: unset;
      max-width: rem(632);
      text-align: center;
    }
  }

  // form styling
  &__form {
    display: grid;
    grid-column: 8/12;
    row-gap: rem(20);

    .form__inputs {
      @media screen and (max-width: $md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(20);
      }

      @media screen and (max-width: $sm) {
        grid-template-columns: 1fr;
        row-gap: rem(10);
      }
    }

    .form__btn {
      @media screen and (max-width: $md) {
        justify-self: center;
        grid-column: span 2;
        width: auto;
        min-width: 350px;
      }

      @media screen and (max-width: $sm) {
        grid-column: span 1;
        width: 100%;
        min-width: unset;
      }
    }

    @media screen and (max-width: $md) {
      grid-column: unset;
    }
  }
}
