.counter {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-secondary);
  border-radius: 4px;
  padding: rem(10);
  height: 40px;
  max-width: 110px;
  gap: rem(5);

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input {
    appearance: none;
    width: 100%;
    text-align: center;
    color: var(--text-secondary);

    &::placeholder {
      color: var(--text-secondary);
    }
  }

  .plus,
  .minus {
    display: inline-flex;
    align-items: center;
    width: 20px;
    height: 20px;

    &.active {
      path {
        fill: #21b9e5;
      }
    }
  }
}
