.counter {
  display: flex;
  align-items: center;
  gap: rem(5);
  max-width: 110px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
  padding: rem(10);

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  input {
    width: 100%;
    text-align: center;
    color: var(--text-secondary);
    appearance: none;

    &::placeholder {
      color: var(--text-secondary);
    }
  }



  .plus,
  .minus {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;

    &.active {
      path {
        fill: #21B9E5;
      }
    }
  }
}
