.filter {
  border-radius: var(--radius-primary);
  box-shadow: var(--boxshadow-primary);
  background-color: var(--white);

  // filter wrapper styling
  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 rem(20);
    row-gap: rem(5);
  }

  // one filter item styling
  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content;
    padding: rem(10) 0;
    cursor: pointer;
    row-gap: rem(10);

    &.active {
      font-weight: 900;
      color: var(--text-secondary);
    }
  }

  // filter list stylng
  &__list {
    display: flex;
    flex-direction: column;
    padding-left: rem(15);
    row-gap: rem(10);

    li {
      &.active {
        font-weight: 700;
      }
    }
  }

  &__btn {
    font-size: rem(14);
  }

  &__details {
    display: none;
    grid-column: span 2;

    &.active {
      display: block;
    }
  }

  &__arrow {
    width: 15px;
    height: 15px;
    background-image: url("../img/svg/spoller-arrow.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  // filter title styling
  &__title {
    font-weight: 600;
    font-size: rem(18);
    line-height: 135%;
    color: var(--text);

    &.active {
      font-weight: 800;
      color: var(--text-secondary);
    }
  }

  // filter heading styling
  &__heading {
    border-radius: 5px 5px 0 0;
    padding: rem(10);
    background-color: var(--text-secondary);

    p {
      font-weight: 900;
      font-size: rem(18);
      line-height: 135%;
      text-transform: uppercase;
      color: var(--white);
    }
  }
}
