.form {
  border-radius: var(--radius-primary);
  text-align: center;
  background-color: var(--primary-light);

  // form title styling
  &__title {
    @include adaptiveValue(font-size, 36, 20, 1920, 360, 1);

    margin: 0 auto;
    max-width: 350px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }

  // inputs wrapper styling
  &__inputs {
    display: grid;
    width: 100%;
    gap: rem(10);
  }

  // inputs and textareas styling
  input,
  textarea {
    @include adaptiveValue(padding-top, 20, 12, 1920, 360, 1);
    @include adaptiveValue(padding-bottom, 20, 12, 1920, 360, 1);
    @include adaptiveValue(padding-right, 20, 12, 1920, 360, 1);
    @include adaptiveValue(padding-left, 20, 12, 1920, 360, 1);
    @include adaptiveValue(font-size, 18, 12, 1920, 360, 1);

    border: 1px solid var(--white);
    border-radius: var(--radius-secondary);
    width: 100%;
    min-height: 60px;
    font-size: rem(16);
    line-height: 135%;
    color: var(--text);
    background-color: var(--input-bg);
    transition: box-shadow 0.2s ease;

    &::placeholder {
      color: var(--text);
    }

    &:focus {
      outline: none;
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    }

    @media screen and (max-width: $xxsm) {
      min-height: 50px;
    }
  }

  textarea {
    min-height: 66px;
    resize: none;

    @media screen and (max-width: $lg) {
      height: 60px;
    }
  }

  // form button styling
  &__btn {
    border: 1px solid transparent;
    border-radius: var(--radius-secondary);
    width: 100%;
    min-width: 200px;
    box-shadow: 0 4px 17px rgb(233 250 255 / 50%);
    font-weight: 900;
    background-color: var(--white);
    transition: 0.5s all ease;

    &:hover {
      border: 1px solid var(--white);
      background-color: transparent;
    }
  }
}
