.header {
  @include adaptiveValue(padding-top, 30, 12, 1920, 768, 1);
  @include adaptiveValue(padding-bottom, 30, 12, 1920, 768, 1);
  box-shadow: var(--boxshadow-primary);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--white);

  &.fixed {
    position: fixed;
    animation: headerFixed .3s linear;
  }

  //styling header inner layout
  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, 150px) 2fr auto min-content;
    @include adaptiveValue(column-gap, 30, 15, 1920, 360, 1);

    @media screen and (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr) min-content;
      @include adaptiveValue(row-gap, 16, 14, 1200, 768, 1);
    }

    @media screen and (max-width: $sm) {
      grid-template-columns: 80px 1fr min-content;
    }

  }

  .logo {
    display: block;
    z-index: 50;

    @media screen and (max-width: $sm) {
      max-width: 143px;
    }
  }

  //phone and viber/tg block styling
  &__contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include adaptiveValue(column-gap, 15, 10, 1920, 360, 1);
    row-gap: 15px;
    max-width: 330px;
    flex-wrap: wrap;
    z-index: 50;

    &-social {
      width: 25px;
      height: 25px;

      @media screen and (max-width: $xxsm) {
        width: 15px;
        height: 15px;
      }
    }


    @media screen and (max-width: $lg) {
      justify-self: end;
    }

    @media screen and (max-width: $sm) {
      justify-self: center;
    }

    &-phone {
      max-width: rem(280);
      font-size: rem(18);
      font-family: var(--font-family-secondary);
      font-weight: 700;
      color: var(--text-secondary);

      @media screen and (max-width: $sm) {
        font-size: rem(16);
      }

      @media screen and (max-width: $xxsm) {
        font-size: rem(12);
      }
    }
  }

  //burger menu styling
  &__burger {
    width: rem(22);
    height: rem(22);
    display: block;
    background-image: url("../img/svg/burger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 50;
    display: none;

    @media screen and (max-width: $sm) {
      display: block;
    }
  }

  //cart incon
  &__cart {
    width: 30px;
    height: 30px;
    position: relative;

    &.active {
      path {
        fill: var(--text-secondary);
      }
    }

    & .amount {
      position: absolute;
      color: var(--white);
      font-size: 10px;
      z-index: 3;
      top: calc(50% - 2px);
      left: calc(50% + 2px);
      transform: translate(-50%, -50%);
    }

    @media screen and (max-width: $sm) {
      display: none;
    }

    & svg {
      width: 30px;
      height: 30px;
    }
  }
}

//menu
.menu {
  justify-self: center;

  @media screen and (max-width: $lg) {
    grid-row: 2/3;
    grid-column: span 3;
    justify-self: unset;
  }

  @media screen and (max-width: $sm) {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background-color: var(--white);
    padding: rem(80) rem(20) rem(20) rem(20);
    overflow: auto;
    transition: opacity .5s ease;

    &.menu--active {
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: "";
      width: 100%;
      left: 0;
      top: 0;
      height: rem(49);
      z-index: 5;
      position: fixed;
      box-shadow: var(--boxshadow-primary);
      background-color: var(--white);
    }
  }

  &__list {
    max-width: 900px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue(column-gap, 43, 20, 1920, 768, 1);
    row-gap: 15px;

    @media screen and (max-width: $lg) {
      justify-content: space-between;
      max-width: 100%;
    }

    @media screen and (max-width: $sm) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: $sm) {
      width: 100%;
      row-gap: rem(10);
    }

    &:hover {
      .menu__link {
        color: var(--text-secondary);
      }
    }

    &.sub-menu__active {
      .sub-menu {
        display: block;
      }

      .menu__arrow {
        transform: rotate(45deg);
      }
    }
  }

  &__link {
    max-width: rem(150);
    @include adaptiveValue(font-size, 18, 16, 1920, 768, 1);
    font-family: var(--font-family-secondary);
    font-weight: 600;
    transition: color .5s ease;

    @media screen and (max-width: $sm) {
      font-size: rem(22);
      max-width: 100%;
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
    background-image: url("../img/svg/menu-arrow.svg");
    background-repeat: no-repeat;
    transition: transform .2s ease;
    grid-row: 1/2;
    grid-column: 2/3;

    @media screen and (max-width: $sm) {
      justify-self: end;
    }
  }


}

//sub menu styling
.sub-menu {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  min-width: 300px;
  display: none;
  transition: opacity .5s ease;
  z-index: 1000;

  @media screen and (max-width: $sm) {
    position: relative;
    grid-row: 2/3;
    top: 0;
    grid-column: span 2;
    min-width: unset;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    background-color: var(--white);
    box-shadow: var(--boxshadow-primary);
    border-radius: var(--radius-primary);
    padding: 20px;
  }

  &__item:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #F4F5F5;
  }

  &__link {
    position: relative;
    font-size: rem(16);

    &::after {
      display: block;
      content: attr(data-content);
      font-weight: 700;
      height: 0;
      overflow: hidden;
      visibility: hidden;
      font-size: rem(16);
    }

    &:hover {
      font-weight: 700;
      color: var(--text-secondary);
    }
  }

}

// fixed header animation

@keyframes headerFixed {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
