.header {
  @include adaptiveValue(padding-top, 30, 12, 1920, 768, 1);
  @include adaptiveValue(padding-bottom, 30, 12, 1920, 768, 1);

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
  width: 100%;
  box-shadow: var(--boxshadow-primary);
  background-color: var(--white);

  // styling header inner layout
  &__inner {
    @include adaptiveValue(column-gap, 30, 15, 1920, 360, 1);

    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, 150px) 2fr auto min-content;

    @media screen and (max-width: $lg) {
      @include adaptiveValue(row-gap, 16, 14, 1200, 768, 1);

      grid-template-columns: repeat(2, 1fr) min-content;
    }

    @media screen and (max-width: $sm) {
      grid-template-columns: 80px 1fr min-content;
    }
  }

  .logo {
    z-index: 50;
    display: block;

    @media screen and (max-width: $sm) {
      max-width: 143px;
    }
  }

  // phone and viber/tg block styling
  &__contact {
    @include adaptiveValue(column-gap, 15, 10, 1920, 360, 1);

    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    max-width: 330px;
    row-gap: 15px;

    &-social {
      width: 25px;
      height: 25px;

      @media screen and (max-width: $xxsm) {
        width: 15px;
        height: 15px;
      }
    }

    &-phone {
      max-width: rem(280);
      font-family: var(--font-family-secondary);
      font-weight: 700;
      font-size: rem(18);
      color: var(--text-secondary);

      @media screen and (max-width: $sm) {
        font-size: rem(16);
      }

      @media screen and (max-width: $xxsm) {
        font-size: rem(12);
      }
    }

    @media screen and (max-width: $lg) {
      justify-self: end;
    }

    @media screen and (max-width: $sm) {
      justify-self: center;
    }
  }

  // burger menu styling
  &__burger {
    z-index: 50;
    display: none;
    width: rem(22);
    height: rem(22);
    background-image: url("../img/svg/burger.svg");
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: $sm) {
      display: block;
    }
  }

  // cart incon
  &__cart {
    position: relative;
    width: 30px;
    height: 30px;

    .amount {
      position: absolute;
      left: calc(50% + 2px);
      top: calc(50% - 2px);
      z-index: 3;
      font-size: 10px;
      color: var(--white);
      transform: translate(-50%, -50%);
    }

    svg {
      width: 30px;
      height: 30px;
    }

    &.active {
      path {
        fill: var(--text-secondary);
      }
    }

    @media screen and (max-width: $sm) {
      display: none;
    }
  }

  &.fixed {
    position: fixed;
    animation: header-fixed 0.3s linear;
  }
}

// menu
.menu {
  justify-self: center;

  &__list {
    @include adaptiveValue(column-gap, 43, 20, 1920, 768, 1);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 900px;
    row-gap: 15px;

    @media screen and (max-width: $lg) {
      justify-content: space-between;
      max-width: 100%;
    }

    @media screen and (max-width: $sm) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__item {
    position: relative;
    display: grid;
    column-gap: 8px;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    cursor: pointer;

    &:hover {
      .menu__link {
        color: var(--text-secondary);
      }
    }

    &.sub-menu__active {
      .sub-menu {
        display: block;
      }

      .menu__arrow {
        transform: rotate(45deg);
      }

      .menu__link {
        color: var(--text-secondary);
      }
    }

    @media screen and (max-width: $sm) {
      width: 100%;
      row-gap: rem(10);
    }
  }

  &__link {
    @include adaptiveValue(font-size, 18, 16, 1920, 768, 1);

    max-width: rem(150);
    font-family: var(--font-family-secondary);
    font-weight: 600;
    transition: color 0.5s ease;

    @media screen and (max-width: $sm) {
      max-width: 100%;
      font-size: rem(22);
    }
  }

  &__arrow {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 16px;
    height: 16px;
    background-image: url("../img/svg/menu-arrow.svg");
    background-repeat: no-repeat;
    transition: transform 0.2s ease;

    @media screen and (max-width: $sm) {
      justify-self: end;
    }
  }

  @media screen and (max-width: $lg) {
    justify-self: unset;
    grid-column: span 3;
    grid-row: 2/3;
  }

  @media screen and (max-width: $sm) {
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    padding: rem(80) rem(20) rem(20) rem(20);
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;

    &::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      z-index: 5;
      width: 100%;
      height: rem(49);
      box-shadow: var(--boxshadow-primary);
      background-color: var(--white);
    }

    &.menu--active {
      opacity: 1;
      visibility: visible;
    }
  }
}

// sub menu styling
.sub-menu {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1000;
  display: none;
  width: 100%;
  min-width: 300px;
  transition: opacity 0.5s ease;

  &__list {
    display: grid;
    grid-auto-flow: row;
    border-radius: var(--radius-primary);
    padding: 20px;
    width: 100%;
    box-shadow: var(--boxshadow-primary);
    background-color: var(--white);
    row-gap: 10px;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #f4f5f5;
    padding-bottom: 10px;
  }

  &__link {
    position: relative;
    font-size: rem(16);

    &::after {
      content: attr(data-content);
      display: block;
      overflow: hidden;
      height: 0;
      font-weight: 700;
      font-size: rem(16);
      visibility: hidden;
    }

    @include hover {
      font-weight: 700;
      color: var(--text-secondary);
    }
  }

  @media screen and (max-width: $sm) {
    position: relative;
    top: 0;
    grid-column: span 2;
    grid-row: 2/3;
    min-width: unset;
  }
}

//  fixed header animation

@keyframes header-fixed {
  0% {
    top: -70px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
