.success {
  &__item {
    box-shadow: var(--boxshadow-primary);
    border-radius: var(--radius-secondary);
    padding: rem(13) rem(13) 0 rem(13);
    background-color: var(--white);
    @media screen and (max-width: $md) {
      @include adaptiveValue(padding-top, 40, 20, 1920, 360, 1);
      @include adaptiveValue(padding-bottom, 40, 20, 1920, 360, 1);
      @include adaptiveValue(padding-right, 40, 20, 1920, 360, 1);
      @include adaptiveValue(padding-left, 40, 20, 1920, 360, 1);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: rem(40);
    @media screen and (max-width: $md) {
      flex-direction: column;
      row-gap: rem(20);
    }
  }

  &__info {
    flex: 0 1 40%;
    display: grid;
    grid-auto-flow: row;
    row-gap: rem(15);
    @media screen and (max-width: $md) {
      justify-items: center;
    }
  }

  &__link {
    justify-self: start;
    @media screen and (max-width: $md) {
      justify-self: center;
    }
  }

  &__text {
    @include adaptiveValue(font-size, 18, 14, 1920, 360, 1);
    @media screen and (max-width: $md) {
      text-align: center;
    }
  }

  &__title {
    @include adaptiveValue(font-size, 36, 18, 1920, 360, 1);
    font-weight: 700;
    color: var(--black);
  }

  &__img {
    // width: 100%;
    padding-bottom: 25%;
    flex: 0 1 rem(415);
    img {
      object-fit: contain;
    }

    @media screen and (max-width: $md) {
      flex: 0 1 auto;
      width: 100%;
      padding-bottom: 50%;
    }
  }
}
