.benefits {
  &__heading {
    @include adaptiveValue(margin-bottom, 72, 27, 1920, 360, 1);

    @media screen and (max-width: $md) {
      max-width: rem(500);
    }
  }

  //  benefits layout styling

  &__inner {
    @include adaptiveValue(column-gap, 59, 30, 1920, 992, 1);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(150px, min-content));
    row-gap: rem(49);

    @media screen and (max-width: $md) {
      grid-auto-rows: min-content;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content;
    }

    @media screen and (max-width: $xsm) {
      row-gap: rem(20);
    }
  }

  //  one benefits item styling
  &__item {
    display: grid;
    align-self: start;
    justify-items: center;
    grid-auto-flow: row;
    grid-template-areas:
      "image"
      "title"
      "text";
    grid-template-rows: repeat(3, min-content);
    row-gap: rem(14);

    &-img {
      grid-area: image;

      @media screen and (max-width: $sm) {
        max-width: 35px;
      }
    }

    @media screen and (max-width: $xsm) {
      column-gap: rem(5);
      align-items: center;
      justify-items: start;
      grid-template-areas:
        "image title"
        "text text";
      grid-template-columns: 35px 1fr;
      row-gap: rem(10);
    }

    h3 {
      @include adaptiveValue(font-size, 36, 20, 1920, 1366, 1);

      grid-area: title;
      font-weight: 900;
      word-break: break-word;
      text-align: center;

      @media screen and (max-width: $xsm) {
        text-align: left;
      }

      @media screen and (max-width: $lg) {
        @include adaptiveValue(font-size, 20, 18, 1366, 360, 1);
      }
    }

    p {
      @include adaptiveValue(font-size, 18, 14, 1920, 360, 1);

      grid-area: text;
      max-width: rem(327);
      line-height: 136%;
      text-align: center;
      color: var(--black);

      @media screen and (max-width: $xsm) {
        max-width: 100%;
        text-align: left;
      }
    }

    &:nth-of-type(odd) {
      grid-column: 7/10;

      @media screen and (max-width: $md) {
        grid-column: unset;
      }

      @media screen and (max-width: $xsm) {
        justify-self: start;
        grid-column: span 2;
        grid-template-rows: repeat(2, min-content);
      }
    }

    &:nth-of-type(even) {
      grid-column: 10/13;

      @media screen and (max-width: $md) {
        grid-column: unset;
      }

      @media screen and (max-width: $xsm) {
        justify-self: start;
        grid-column: span 2;
        grid-template-rows: repeat(2, min-content);
      }
    }

    &-approach {
      @media screen and (max-width: $md) {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      @media screen and (max-width: $xsm) {
        grid-row: 2/3;
      }
    }

    &-consultation {
      @media screen and (max-width: $md) {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      @media screen and (max-width: $xsm) {
        grid-column: span 2;
        grid-row: 3/4;
      }
    }
  }

  //  benefits image styling
  &__img {
    grid-column: 1/7;
    grid-row: span 3;
    height: 100%;
    object-fit: contain;

    @media screen and (max-width: $md) {
      grid-column: 1/2;
      grid-row: span 2;
    }

    @media screen and (max-width: $xsm) {
      grid-column: 1/3;
      grid-row: 1/2;
      max-width: 300px;
    }

    @media screen and (max-width: $xxsm) {
      max-width: 270px;
    }
  }
}
