.cart {
  @include adaptiveValue(padding-top, 60, 40, 1920, 360, 1);

  &__breadcrumbs {
    margin-bottom: rem(16);
  }

  &__border-link {
    @include adaptiveValue(margin-bottom, 40, 20, 1920, 360, 1);

    display: inline-block;
  }

  &__title {
    @include adaptiveValue(font-size, 36, 18, 1920, 360, 1);
    @include adaptiveValue(margin-bottom, 30, 15, 1920, 360, 1);

    font-weight: 900;
  }

  &__inner {
    @include adaptiveValue(margin-bottom, 30, 25, 1920, 360, 1);

    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(30);
  }

  &__labels {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-weight: 700;
    font-size: rem(16);

    .cart__name {
      grid-column: 4/5;
    }

    .cart__price {
      grid-column: 6/8;
    }

    .cart__amount {
      grid-column: 8/10;
    }

    .cart__total {
      grid-column: 10/12;
    }

    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &__name {
    justify-self: center;

    @media screen and (max-width: $xsm) {
      justify-self: start;
    }
  }

  &__price {
    justify-self: center;

    @media screen and (max-width: $xsm) {
      justify-self: start;
    }
  }

  &__amount {
    justify-self: center;

    @media screen and (max-width: $xsm) {
      justify-self: start;
    }
  }

  &__total {
    justify-self: center;

    @media screen and (max-width: $xsm) {
      justify-self: start;
    }
  }

  &__item {
    @include adaptiveValue(column-gap, 122, 30, 1920, 576, 1);

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns:
      rem(150) minmax(auto, rem(240)) minmax(auto, rem(110))
      auto minmax(auto, rem(110)) min-content;
    border-radius: var(--radius-primary);
    padding: rem(30);
    box-shadow: var(--boxshadow-primary);

    &-spec {
      @media screen and (max-width: $md) {
        display: grid;
        align-items: center;
        justify-items: center;
        font-weight: 700;
        font-size: rem(16);
        text-align: center;
        row-gap: rem(5);
      }

      @media screen and (max-width: $xsm) {
        justify-items: end;
      }

      @media screen and (max-width: $xxsm) {
        grid-column: 1/2;
      }
    }

    &-img {
      padding-bottom: 72%;
      width: 100%;
      & img {
        object-fit: contain;
      }
    }

    &-title {
      a {
        font-size: rem(16);
      }

      .cart__name {
        display: none;

        @media screen and (max-width: $md) {
          display: block;
        }
      }
    }

    &-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;

      path {
        transition: 0.5s fill ease;
      }

      &:hover {
        path {
          fill: var(--text-secondary);
        }
      }

      @media screen and (max-width: $md) {
        grid-column: 3/4;
        grid-row: 1/2;
      }

      @media screen and (max-width: $xsm) {
        justify-self: end;
        grid-column: span 2;
      }
    }

    &-quantity {
      .cart__amount {
        display: none;

        @media screen and (max-width: $md) {
          display: block;
        }
      }

      @media screen and (max-width: $xsm) {
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
        width: 100%;
      }
    }

    &-summary {
      .cart__total {
        display: none;

        @media screen and (max-width: $md) {
          display: block;
        }
      }

      @media screen and (max-width: $xsm) {
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
        width: 100%;
      }
    }

    &-price {
      .cart__price {
        display: none;

        @media screen and (max-width: $md) {
          display: block;
          font-weight: 700;
          font-size: rem(16);
        }
      }

      @media screen and (max-width: $xsm) {
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
        width: 100%;
      }
    }

    &:hover {
      box-shadow: 0 4px 15px rgb(33 185 229 / 20%);
    }

    &-price,
    &-summary {
      span {
        @include adaptiveValue(font-size, 20, 14, 1920, 360, 1);

        display: inline-flex;
        column-gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
        font-weight: 700;
        word-break: break-all;
        text-align: center;

        &::after {
          content: "грн";
        }
      }
    }

    @media screen and (max-width: $md) {
      grid-template-columns: minmax(auto, rem(150)) 2fr minmax((auto, rem(110)));
      padding: rem(20);
    }

    @media screen and (max-width: $xsm) {
      column-gap: rem(15);
      grid-template-columns: minmax(auto, rem(150)) 1fr;
      row-gap: rem(15);
    }

    @media screen and (max-width: $xxsm) {
      grid-template-columns: 1fr;
    }
  }

  &__summary {
    display: grid;
    justify-self: center;
    row-gap: rem(20);

    &-item {
      display: flex;
      column-gap: rem(30);
      align-items: center;
    }

    &-sum {
      position: relative;
      font-weight: 700;
      font-size: rem(16);

      &::after {
        content: ":";
        position: absolute;
      }
    }

    &-price {
      display: inline-flex;
      column-gap: rem(5);
      flex-wrap: wrap;
      font-weight: 700;
      font-size: rem(21);

      &::after {
        content: "грн";
      }
    }

    &-btn {
      justify-self: center;

      @media screen and (max-width: $xsm) {
        width: 100%;
        min-width: unset;
        max-width: 100%;
      }
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(30);

    &-inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(rem(336), 1fr));
      gap: rem(30);

      @media screen and (max-width: $md) {
        grid-template-columns: repeat(auto-fill, minmax(rem(349), 1fr));
      }

      @media screen and (max-width: $xsm) {
        grid-template-columns: 1fr;
      }
    }

    &-item {
      @include adaptiveValue(padding-top, 30, 20, 1920, 360, 1);
      @include adaptiveValue(padding-right, 30, 20, 1920, 360, 1);
      @include adaptiveValue(padding-left, 30, 20, 1920, 360, 1);
      @include adaptiveValue(padding-bottom, 30, 20, 1920, 360, 1);

      display: grid;
      grid-auto-flow: row;
      grid-template-rows: min-content 1fr;
      border-radius: var(--radius-secondary);
      min-height: rem(310);
      filter: drop-shadow(0 4px 16px rgb(0 0 0 / 6%));
      row-gap: rem(20);

      &:nth-child(odd) {
        background-color: var(--white);
      }

      &:nth-child(even) {
        background-color: var(--bg-grey);
      }

      @media screen and (max-width: $sm) {
        min-height: unset;
      }
    }

    &-heading {
      @include adaptiveValue(font-size, 23, 18, 1920, 360, 1);

      font-weight: 700;
      color: var(--text-secondary);
    }

    textarea {
      border: 1px solid #c4c4c4;
      border-radius: var(--radius-secondary);
      padding: rem(10);
      height: 100%;
      font-weight: 400;
      font-size: rem(16);
      color: #c4c4c4;
      background-color: transparent;
      transition: 0.2s box-shadow ease;
      resize: none;

      &::placeholder {
        font-weight: 400;
        font-size: rem(16);
        opacity: 0.5;
      }

      &:focus {
        outline: none;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
      }

      @media screen and (max-width: $sm) {
        min-height: rem(80);
      }
    }

    &-inputs {
      display: grid;
      grid-auto-rows: min-content;
      row-gap: rem(10);
    }

    &-radios {
      display: grid;
      grid-auto-rows: min-content;
      row-gap: rem(20);
    }

    &-radio {
      @include adaptiveValue(font-size, 18, 16, 1920, 360, 1);

      position: relative;
      padding-bottom: rem(20);
      padding-left: rem(20);
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #f7f8f9;
      }

      input[type="radio"] {
        appearance: none;
        position: absolute;

        &:checked + .radio {
          background-image: url("../img/svg/checked-radio.svg");
        }
      }

      .radio {
        position: absolute;
        left: 0;
        top: em(4);
        width: 10px;
        height: 10px;
        background-image: url("../img/svg/radio.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &-label {
      width: 100%;
    }

    &-input {
      border: 1px solid #c4c4c4;
      border-radius: var(--radius-secondary);
      padding: rem(10);
      width: 100%;
      font-size: rem(16);
      color: #c4c4c4;
      transition: 0.2s box-shadow ease;

      &::placeholder {
        font-weight: 400;
        font-size: rem(16);
        opacity: 0.5;
      }

      &:focus {
        outline: none;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
      }
    }

    &-btn {
      justify-self: center;

      @media screen and (max-width: $xsm) {
        width: 100%;
        min-width: unset;
        max-width: 100%;
      }
    }
  }
}
