.catalog {
  @include adaptiveValue(padding-top, 80, 40, 1920, 360, 1);

  &__title {
    @include adaptiveValue(font-size, 45, 24, 1920, 360, 1);
    @include adaptiveValue(margin-bottom, 44, 20, 1920, 360, 1);

    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-secondary);
  }

  &__subtitle {
    @include adaptiveValue(font-size, 45, 24, 1920, 360, 1);
    @include adaptiveValue(margin-bottom, 44, 25, 1920, 768, 1);

    text-align: center;
  }

  // catalog layout inner, where rem(300) is filter width and 1fr is catalog products layout
  &__inner {
    display: grid;
    grid-template-columns: rem(300) 1fr;
    gap: rem(30);

    // making layout in one column  on <=1199px devices
    @media screen and (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }

  &__products {
    // making inner layout for catalog products
    &-inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
      gap: rem(30);

      @media screen and (max-width: $sm) {
        grid-template-columns: repeat(auto-fill, minmax(rem(240), 1fr));
      }

      @media screen and (max-width: $xsm) {
        grid-template-columns: repeat(auto-fill, minmax(rem(170), 1fr));
        gap: rem(15);
      }
    }
  }

  // one catalog product styles
  &__product {
    @include adaptiveValue(padding-top, 30, 15, 1920, 360, 1);
    @include adaptiveValue(padding-right, 30, 15, 1920, 360, 1);
    @include adaptiveValue(padding-left, 30, 15, 1920, 360, 1);
    @include adaptiveValue(padding-bottom, 30, 15, 1920, 360, 1);

    position: relative;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, min-content) 1fr;
    border-radius: var(--radius-primary);
    box-shadow: var(--boxshadow-primary);
    row-gap: rem(20);

    &-title {
      @include adaptiveValue(font-size, 18, 14, 1920, 360, 1);

      display: box;
      overflow: hidden;
      font-weight: 700;
      text-align: center;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }

    // showing catalog specs on hover, if users device supports hover

    @include hover {
      box-shadow: 0 4px 15px rgb(33 185 229 / 20%);

      .catalog__specs {
        opacity: 1;
        visibility: visible;
        transform: translateY(80%);
      }
    }
  }

  &__btn {
    z-index: 5;
    margin-top: auto;
    border: 1px solid transparent;
    border-radius: var(--radius-secondary);
    padding: 10px;
    min-width: rem(160);
    min-height: 40px;
    box-shadow: 0 4px 17px rgb(33 185 229 / 30%);
    font-weight: 800;
    color: var(--white);
    background-color: var(--text-secondary);
    transition: 0.5s all ease;

    &:hover {
      border: 1px solid var(--text-secondary);
      color: var(--text-secondary);
      background-color: var(--white);
      transform: none;
    }

    @media screen and (max-width: $xsm) {
      width: 100%;
      min-width: unset;
    }
  }

  // catalog product image using padding hack
  &__img {
    padding-bottom: 65%;
    width: 100%;
  }

  // catalog product price span
  &__price {
    display: inline-flex;
    column-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: rem(140);
    font-weight: 900;
    font-size: rem(18);
    word-break: break-all;

    // adding currency pseudo element
    &::after {
      content: " грн";
    }
  }

  // additional catalog product specs styles, that appears on hover. specs are divided into title,
  // which is title of spec and content which is content of spec. example - "Назва" - "БМВ"
  // where Назва is  title and BMW is content
  &__specs {
    position: absolute;
    bottom: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 11px 15px rgb(33 185 229 / 20%);
    font-size: rem(18);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(70%);
    transition: 0.2s all ease;
    gap: rem(10);

    // adding : pseudo element for specs title
    &-title {
      &::after {
        content: ":";
        position: absolute;
      }
    }

    &-content {
      font-weight: 700;
    }

    &-item {
      display: flex;
      gap: rem(10);
    }
  }

  // filter styles. making filter sticky where top 110 is header height + initial top valuefor being sticky
  &__filter {
    position: sticky;

    //  15px + header height
    top: calc(rem(15) + rem(96));
    align-self: start;

    @media screen and (max-width: $xlg) {
      position: static;
      top: unset;
    }
  }
}

// if body contains data-section="catalog",
// then we are making cart sticking at the center of the screen on <=767px devices

[data-section="catalog"] {
  .header__cart {
    @media screen and (max-width: $sm) {
      position: fixed;
      right: 10px;
      bottom: 20%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--text-secondary);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-color: var(--white);
    }
  }
}

// skeleton animation
