.offer {
  @include adaptiveValue(margin-top, 30, 21, 1920, 360, 1);
  @include adaptiveValue(margin-bottom, 100, 30, 1920, 360, 1);

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(30);

    @media screen and (max-width: $lg) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    position: relative;
    display: grid;
    align-items: center;
    align-self: start;
    grid-column: 1/9;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    border-radius: var(--radius-primary);
    height: 100%;
    min-height: 590px;
    background-color: var(--bg-light);
    gap: rem(30);

    @media screen and (max-width: $lg) {
      grid-column: unset;
      min-height: rem(292);
    }

    @media screen and (max-width: $sm) {
      min-height: unset;
    }
  }

  picture,
  img {
    align-self: end;
    justify-self: end;

    img {
      @include adaptiveValue(max-width, 400, 150, 1200, 360, 1);

      @media screen and (max-width: $xsm) {
        max-width: 150px;
      }

      @media screen and (max-width: $xxsm) {
        max-width: 100px;
      }
    }
  }

  &__info {
    @include adaptiveValue(row-gap, 16, 10, 1920, 576, 1);
    @include adaptiveValue(padding-top, 30, 15, 1920, 360, 1);
    @include adaptiveValue(padding-bottom, 30, 15, 1920, 360, 1);
    @include adaptiveValue(padding-left, 30, 15, 1920, 360, 1);

    display: grid;
    max-width: 580px;

    p {
      @include adaptiveValue(font-size, 18, 14, 1920, 360, 1);

      max-width: 350px;
      line-height: 135%;
    }
  }

  &__title {
    @include adaptiveValue(font-size, 55, 40, 1920, 768, 1);

    font-weight: 900;
    line-height: 130%;
    text-transform: uppercase;

    @media screen and (max-width: $lg) {
      max-width: rem(580);
    }

    @media screen and (max-width: $sm) {
      @include adaptiveValue(font-size, 40, 18, 768, 360, 1);
    }
  }

  &__form {
    @include adaptiveValue(row-gap, 20, 10, 1920, 768, 1);
    @include adaptiveValue(padding-right, 40, 20, 1920, 1400, 1);
    @include adaptiveValue(padding-left, 40, 20, 1920, 1400, 1);
    @include adaptiveValue(padding-top, 40, 20, 1920, 1400, 1);
    @include adaptiveValue(padding-bottom, 40, 20, 1920, 1400, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    grid-column: 9 / 13;

    p {
      @include adaptiveValue(font-size, 16, 14, 1920, 360, 1);

      max-width: 332px;
      line-height: 135%;
    }

    .form__label-question {
      @media screen and (max-width: $xsm) {
        display: none;
      }
    }

    .form__btn {
      align-self: end;

      @media screen and (max-width: $lg) {
        height: 100%;
      }

      @media screen and (max-width: $xsm) {
        grid-column: span 2;
        min-width: unset;
        min-height: 50px;
        font-size: 0;
        background-image: url("../img/svg/letter.svg");
        background-position: center center;
        background-size: 30px 30px;
        background-repeat: no-repeat;
      }
    }

    .form__inputs {
      height: 100%;

      @media screen and (max-width: $lg) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media screen and (max-width: $lg) {
      grid-column: unset;
    }

    @media screen and (max-width: $lg) {
      .form__title {
        max-width: rem(580);
      }
    }
  }
}
