.services {
  @include adaptiveValue(padding-top, 100, 40, 1920, 360, 1);
  @include adaptiveValue(padding-bottom, 100, 40, 1920, 360, 1);

  background-color: var(--bg-grey);

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(505px, 1fr));
    gap: rem(30);

    @media screen and (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }

  &__heading {
    @include adaptiveValue(margin-bottom, 70, 30, 1920, 360, 1);
  }

  &__image {
    align-self: center;
    grid-area: image;
    padding-bottom: 167%;
    width: 100%;
    transform: scale(1.2);
    transform-origin: 100%;

    img {
      object-fit: contain;

      @media screen and (max-width: 1153px) {
        object-position: left;
      }
    }

    @media screen and (max-width: 1153px) {
      padding-bottom: 100%;
      transform: scale(1.1);
    }

    @media screen and (max-width: $sm) {
      height: 100%;
    }

    @media screen and (max-width: $xsm) {
      grid-row: 1/3;
    }
  }

  &__item {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-areas: "image info arrow";
    grid-template-columns: 1fr 3fr 51px;
    overflow: hidden;
    border-radius: var(--radius-primary);
    padding-right: 30px;
    min-height: rem(250);
    background-color: var(--white);
    transition: 0.5s box-shadow ease;
    gap: rem(30);

    h3 {
      @include adaptiveValue(font-size, 24, 14, 1920, 360, 1);

      display: -webkit-box;
      overflow: hidden;
      max-width: rem(438);
      font-family: var(--font-family-secondary);
      font-weight: 900;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;

      @media screen and (max-width: $xsm) {
        font-weight: 700;
      }
    }

    p {
      @include adaptiveValue(font-size, 18, 14, 1920, 768, 1);

      display: -webkit-box;
      overflow: hidden;
      font-family: var(--font-family-secondary);
      font-weight: 400;
      text-overflow: ellipsis;
      color: var(--black);
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;

      @media screen and (max-width: $xsm) {
        display: none;
      }
    }

    &:hover {
      box-shadow: 0 4px 15px rgb(88 203 236 / 73%);
    }

    @media screen and (max-width: $lg) {
      min-height: unset;
    }

    @media screen and (max-width: $xsm) {
      column-gap: rem(10);
      grid-auto-rows: 50px;
      grid-template-areas:
        "image info info"
        "image info arrow";
      grid-template-columns: 100px 2fr 30px;
    }

    @media screen and (max-width: $xxsm) {
      grid-template-columns: 70px 2fr 30px;
    }
  }

  &__arrow {
    align-self: center;
    grid-area: arrow;

    @media screen and (max-width: $xsm) {
      justify-self: end;
      grid-column: 3/4;
      grid-row: 2/3;
      max-width: 30px;
    }
  }

  &__info {
    display: grid;
    align-self: center;
    grid-area: info;
    grid-auto-flow: row;
    padding: 20px 0;
    max-width: rem(470);
    row-gap: rem(10);

    @media screen and (max-width: $xsm) {
      grid-row: 1/3;
      padding: 0;
    }
  }
}
