.solutions {
  &__heading {
    @include adaptiveValue(margin-bottom, 34, 19, 1920, 360, 1);

    max-width: rem(897);
  }

  // solutions layout
  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(30);

    @media screen and (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);
    }

    @media screen and (max-width: $md) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    @media screen and (max-width: $xsm) {
      grid-template-columns: 1fr;
    }
  }

  // solutions info styling
  &__info {
    align-self: center;
    padding: 10px 20px 10px 0;

    h3 {
      @include adaptiveValue(font-size, 24, 18, 1920, 360, 1);

      font-weight: 900;
      @media screen and (max-width: $md) {
        text-align: right;
      }
    }

    @media screen and (max-width: $md) {
      justify-self: end;
      padding: 15px 20px 10px 0;
    }

    @media screen and (max-width: $xxsm) {
      padding: 15px 20px 10px 15px;
    }
  }

  // solutions item styling
  &__item {
    display: grid;
    column-gap: rem(20);
    grid-template-columns: auto 1fr;
    border-radius: var(--radius-primary);
    min-height: rem(280);
    box-shadow: var(--boxshadow-primary);

    img {
      @media screen and (max-width: $md) {
        max-width: rem(200);
      }

      @media screen and (max-width: $xsm) {
        max-width: rem(140);
      }

      @media screen and (max-width: $xxsm) {
        order: 1;
      }
    }

    // styling certain elements by modificators
    &-house {
      background-color: var(--bg-light);
    }

    &-hospital {
      background-color: var(--bg-grey);
    }

    &-energetics {
      display: grid;
      grid-template-columns: 1fr 2fr;

      img {
        justify-self: end;
        order: 2;
      }

      .solutions__info {
        order: 1;
        padding-right: 0;
        padding-left: 30px;

        @media screen and (max-width: $md) {
          justify-self: start;
          padding-right: 15px;
        }
      }

      @media screen and (max-width: $md) {
        grid-template-columns: 1fr 3fr;
      }
    }

    &-carwashing {
      background-color: var(--bg-light);
    }

    &-agrarian {
      @media screen and (max-width: $lg) {
        img {
          order: 1;
        }

        .solutions__info {
          padding-left: 20px;
        }
      }
    }

    @media screen and (min-width: $lg) {
      grid-column: span 4;
    }

    @media screen and (max-width: $lg) {
      min-height: unset;
    }

    @media screen and (max-width: $md) {
      row-gap: rem(30);
    }

    @media screen and (max-width: $sm) {
      min-height: rem(230);
    }

    @media screen and (max-width: $xsm) {
      min-height: rem(170);
    }

    @media screen and (max-width: $xxsm) {
      grid-template-columns: 1fr;
    }
  }

  &__extended {
    img {
      @media screen and (max-width: $md) {
        max-width: 350px;
      }

      @media screen and (max-width: $xsm) {
        max-width: 290px;
      }
    }

    @media screen and (min-width: $lg) {
      grid-column: span 6;
    }

    @media screen and (max-width: $lg) {
      grid-template-columns: 1fr;
      row-gap: rem(15);
    }
  }

  &__img {
    align-self: end;
  }
}
