.technologies {
  &__heading {
    @include adaptiveValue(margin-bottom, 52, 37, 1920, 360, 1);

    max-width: rem(969);
  }

  &__inner {
    counter-reset: counter;
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: rem(30);

    @media screen and (max-width: $md) {
      column-gap: rem(15);
      grid-auto-rows: min-content;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $xsm) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
    grid-column: 3/4;
    grid-row: 1/6;
    padding-bottom: 75%;
    width: 100%;

    img {
      object-fit: contain;
    }

    @media screen and (max-width: $md) {
      grid-column: 2/3;
      grid-row: 3/8;
    }

    @media screen and (max-width: $xsm) {
      justify-self: center;
      grid-column: 1/2;
      grid-row: unset;
    }
  }

  &__item {
    display: grid;
    column-gap: rem(15);
    align-items: center;
    align-self: start;
    grid-template-columns: auto 1fr;
    max-width: 430px;

    &::before {
      @include adaptiveValue(font-size, 45, 30, 1920, 360, 1);

      counter-increment: counter;
      content: counter(counter, decimal-leading-zero);
      align-self: start;
      font-weight: 900;
      color: var(--primary-light);
    }

    p {
      @include adaptiveValue(font-size, 24, 18, 1920, 360, 1);

      font-weight: 800;
      line-height: 135%;
    }
  }
}
