<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="/" class="logo footer__logo">
        <img loading="lazy" src="img/logos/logo-footer.png" class="image" width="197" height="50" alt="Aquaro">
      </a>
      <div class="footer__info">
        <a href="mailto:pvk.aquaro@gmail.com" class="footer__info-link footer__info-mail">
          pvk.aquaro@gmail.com
        </a>
        <a href="tel:380675776499" class="footer__info-link footer__info-phone">
          (067) 577-64-99
        </a>
        <a href="tel:380965315397" class="footer__info-link footer__info-location">
          Василя Стуса, 35/37, оф. 101
        </a>
      </div>
      <div class="footer__socials">
        <a href="#" class="footer__social">
          <img loading="lazy" src="img/svg/viber-footer.svg" class="image" width="30" height="30" alt="Viber">
        </a>

        <a href="#" class="footer__social">
          <img loading="lazy" src="img/svg/tg-footer.svg" class="image" width="30" height="30" alt="Telegram">
        </a>
      </div>
      <div class="footer__lists">
        <div class="footer__lists-item">
          <h3 class="footer__lists-title">
            Каталог
          </h3>
          <ul class="footer__list">
            <li>
              <a href="#">
                Таблетована сіль для пом’якшувачів
              </a>
            </li>
            <li>
              <a href="#">
                Зворотньосмотичні мембрани
              </a>
            </li>
            <li>
              <a href="#">
                Помпи для систем зворотнього осмосу
              </a>
            </li>
            <li>
              <a href="#">
                Змінні картриджі
              </a>
            </li>
            <li>
              <a href="#">
                Автомати для розливу питної води
              </a>
            </li>
            <li>
              <a href="#">
                Вбудовані офісні інсталяції
              </a>
            </li>

          </ul>
        </div>
        <div class="footer__lists-item">
          <h3 class="footer__lists-title">
            Готові рішення
          </h3>
          <ul class="footer__list">
            <li>
              <a href="#">
                Для оселі
              </a>
            </li>
            <li>
              <a href="#">
                Для готелів і ресторанів
              </a>
            </li>
            <li>
              <a href="#">
                Для медичних закладів
              </a>
            </li>
            <li>
              <a href="#">
                Для аграрного комплексу
              </a>
            </li>
            <li>
              <a href="#">
                Для ЖКГ, ОСББ та енергетики
              </a>
            </li>
            <li>
              <a href="#">
                Для автомийок
              </a>
            </li>
            <li>
              <a href="#">
                Автомати розливу води
              </a>
            </li>
            <li>
              <a href="#">
                Вбудовані офісні інсталяції
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="footer__details">
        <div class="footer__details-links">
          <a href="#">Про компанію </a>
          <a href="#" data-goto=".technologies">Технології</a>
          <a href="#" data-goto=".services">Послуги</a>
        </div>
        <div class="footer__details-logos">
          <a href="#" class="footer__details-logo">
            <img loading="lazy" src="img/logos/vodabox.svg" class="image" width="149" height="34" alt="Vodabox">
          </a>
          <a href="#" class="footer__details-logo">
            <img loading="lazy" src="img/logos/vodyanoi.png" class="image" width="149" height="28" alt="Vodyano">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
