<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="logo">
        <img loading="lazy" src="img/logo.png" class="image" width="197" height="50" alt="Aquaro">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link">Про компанію</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Каталог</a>
            <span class="menu__arrow arrow"></span>
            <div class="sub-menu">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Таблетована сіль для пом’якшувачів">Таблетована сіль
                    для пом’якшувачів</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Змінні картриджі">Змінні картриджі</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Zvorotni membrani">Zvorotni membrani</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Рішення</a>
            <span class="menu__arrow arrow"></span>
            <div class="sub-menu">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Таблетована сіль для пом’якшувачів">Таблетована сіль
                    для пом’якшувачів</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Змінні картриджі">Змінні картриджі</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Zvorotni membrani">Zvorotni membrani</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Послуги</a>
            <span class="menu__arrow arrow"></span>
            <div class="sub-menu">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Таблетована сіль для пом’якшувачів">Таблетована сіль
                    для пом’якшувачів</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Змінні картриджі">Змінні картриджі</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link" data-content="Zvorotni membrani">Zvorotni membrani</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="header__contact">
        <a href="tel:380675776499" class="header__contact-link header__contact-phone">(067) 577-64-99</a>
        <a href="#" class="header__contact-link">
          <img loading="lazy" src="img/icons/viber.svg" class="image" width="30" height="30" alt="Viber">
        </a>
        <a href="#" class="header__contact-link">
          <img loading="lazy" src="img/icons/tg.svg" class="image" width="30" height="30" alt="Telegram">
        </a>
      </div>
    </div>
  </div>
</header>
