<div class="modal" @data>
  <div class="modal__wrapper">
    <div class="modal__item">
      <button class="modal__close" data-modal-close></button>
      <p>Залишити відгук</p>
      <form action="#" class="modal__form">
        <div class="modal__inputs">
          <label class="modal__label">
            <input type="text" class="modal__input" placeholder="Ваше ім’я">
          </label>
          <label class="modal__label">
            <input type="text" class="modal__input" placeholder="Ваше ім’я">
          </label>
          <label class="modal__label">
            <input type="text" class="modal__input" placeholder="Ваше ім’я">
          </label>
          <label class="modal__label">
            <textarea class="modal__textarea" placeholder="Ваш коментар"></textarea>
          </label>
        </div>
        <button type="submit" class="btn modal__btn">Надіслати відгук</button>
      </form>
    </div>
  </div>
</div>
