<div class="modal success-modal">
  <div class="modal__wrapper">
    <div class="modal__item">
      <div class="success">
        <div class="container">
          <div class="success__item">
            <button class="modal__close" data-modal-close></button>
            <div class="success__inner">
              <div class="success__img ibg">
                <img
                  loading="lazy"
                  src="img/svg/operator.svg"
                  class="image"
                  width="415"
                  height="344"
                  alt="Opeartor"
                />
              </div>
              <div class="success__info">
                <h2 class="success__title">Дякуємо за замовлення :)</h2>
                <p class="success__text">Очікуйте дзвінок від менеджера</p>
                <a href="catalog.html" class="success__link border-link"
                  >Переглянути каталог</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
