html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  @include adaptiveValue(margin-bottom, 120, 50, 1920, 360, 1);
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  @include scrollbarSettingsForFirefox(
    var(--text-secondary),
    rgb(236, 235, 235)
  );

  @include scrollbar(
    rgb(236, 235, 235),
    var(--text-secondary),
    12px,
    horizontal,
    3px,
    var(--primary-dark)
  );
}

// custom scrollbar

.page__body {
  @include adaptiveValue(padding-top, 102, 80, 1920, 1200, 1);

  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 18px;
  color: var(--text);
  background-color: var(--white);

  @media screen and (max-width: $lg) {
    @include adaptiveValue(padding-top, 127, 110, 1199, 768, 1);
  }

  @media screen and (max-width: $sm) {
    padding-top: rem(49);
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.is-hidden {
  display: none !important;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--container-width);

  @media screen and (max-width: 1600px) {
    @include adaptiveValue(padding-right, 80, 20, 1400, 768, 1);
    @include adaptiveValue(padding-left, 80, 20, 1400, 768, 1);
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.global-wrapper {
  position: relative;
}

.locked {
  overflow: hidden;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-secondary);
  padding: 18px;
  min-width: rem(350);
  min-height: 60px;
  font-weight: 900;
  font-size: rem(18);
}

.arrow-link {
  @include adaptiveValue(font-size, 18, 16, 1920, 360, 1);

  position: relative;
  padding-right: 25px;
  max-width: rem(200);
  font-weight: 900;
  color: var(--text-secondary);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: em(6);
    width: 15px;
    height: 10px;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
  }

  &:hover {
    &::before {
      transform: translateX(5px);
    }
  }
}

.border-link {
  display: inline-block;
  border-bottom: 1px solid var(--text-secondary);
  max-width: rem(300);
  font-weight: 700;
  font-size: rem(16);
  word-break: break-all;
  color: var(--text-secondary);
}

section {
  &:not(:last-of-type) {
    @include adaptiveValue(margin-bottom, 100, 40, 1920, 360, 1);
  }
}

.btn-primary {
  border: 1px solid transparent;
  box-shadow: 0 4px 17px rgb(33 185 229 / 30%);
  color: var(--white);
  background-color: var(--text-secondary);
  transition: 0.5s all ease;

  &:hover {
    border: 1px solid var(--text-secondary);
    color: var(--text-secondary);
    background-color: var(--white);
  }
}

.tabs__content {
  display: none;

  &-active {
    display: block;
  }
}

.tabs__btn-active {
  color: var(--text-secondary);
}
