:root {
  --container-width: 1480px;
  --primary-gap: 30px;
  --radius-primary: 10px;
  --white: #fff;
  --primary: #D4F7FF;
  --primary-dark: #00A1CF;
  --text-secondary: #21B9E5;
  --primary-light: #41D4FF;
  --input-bg: #68DDFF;
  --text: #353434;
  --font-family-primary: "Nunito Sans";
  --font-family-secondary: "Montserrat";
  --black: #000;
  --bg-light: #B4EBFF;
  --bg-grey: #EEEFF3;
}

$xxsm: 375px;
$xsm: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xlg: 1399px;
